/*
 ALL lifted from https://github.com/openseadragon/openseadragon.github.com
 */
body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    background-color: black;
    border: none;
}

#container {
    margin:  0;
    padding: 0;
    border: none;
    background-color: yellow;
    text-align: center;
}

#viewer {
    border: none;
    color: #333; /* text color for messages */
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

.toolbar {
    border: none;
    color: #333;
    padding: 4px;
    background-color: transparent;
}

.toolbar.fullpage{
    width: 100%;
    border: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    background-color: #ccc;
}
/*
.openseadragon-small {
    width:      40px;
    height:     30px;
    border:     1px solid black;
    color:      #333; / * text color for messages * /
    background-color: black;
}
*/