[run]
branch = True
include =
    loris/*.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    assert False, "Should not be reachable"
    else:  # unreachable
    .*:.* # Python \d.*
